{% extends "safe/base.html" %}

{% block content %}

<h3>Generate Password</h3>
<hr>

<div class="content-section">
    <form action="{% url 'use_pass' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="passw" value="{{ password.0 }}">
        <h3 style='display: inline-block;' class="mr-3">{{ password.0 }}</h3>
        <button class="btn btn-outline-info btn-sm">Use</button>
    </form>
</div>
<div class="content-section">
    <form action="{% url 'use_pass' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="passw" value="{{ password.1 }}">
        <h3 style='display: inline-block;' class="mr-3">{{ password.1 }}</h3>
        <button class="btn btn-outline-info btn-sm">Use</button>
    </form>
</div>
<div class="content-section">
    <form action="{% url 'use_pass' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="passw" value="{{ password.2 }}">
        <h3 style='display: inline-block;' class="mr-3">{{ password.2 }}</h3>
        <button class="btn btn-outline-info btn-sm">Use</button>
    </form>
</div>
<div class="content-section">
    <form action="{% url 'use_pass' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="passw" value="{{ password.3 }}">
        <h3 style='display: inline-block;' class="mr-3">{{ password.3 }}</h3>
        <button class="btn btn-outline-info btn-sm">Use</button>
    </form>
</div>
<div class="content-section">
    <form action="{% url 'use_pass' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="passw" value="{{ password.4 }}">
        <h3 style='display: inline-block;' class="mr-3">{{ password.4 }}</h3>
        <button class="btn btn-outline-info btn-sm">Use</button>
    </form>
</div>

<a href="{% url 'gen_pass' %}" class="btn btn-outline-info px-4 mb-2">Generate More...</a>

{% endblock content %}
