{% extends "safe/base.html" %}

{% block content %}

<h3>Generate Password</h3>
<hr>

<div class="content-section">
    <h3>{{ password1.0 }}     <a href="{% url 'use_pass' %}" class="btn btn-outline-info btn-sm">Use</a></h3>
</div>
<div class="content-section">
    <h3>{{ password1.1 }}     <a href="{% url 'use_pass' %}" class="btn btn-outline-info btn-sm">Use</a></h3>
</div>
<div class="content-section">
    <h3>{{ password1.2 }}     <a href="{% url 'use_pass' %}" class="btn btn-outline-info btn-sm">Use</a></h3>
</div>
<div class="content-section">
    <h3>{{ password1.3 }}     <a href="{% url 'use_pass' %}" class="btn btn-outline-info btn-sm">Use</a></h3>
</div>
<div class="content-section">
    <h3>{{ password1.4 }}     <a href="{% url 'use_pass' %}" class="btn btn-outline-info btn-sm">Use</a></h3>
</div>

<a href="{% url 'gen_pass' %}" class="btn btn-outline-info px-4">Generate More...</a>

{% endblock content %}
